* {
    box-sizing: border-box;
}

header {
    background-image: url("/assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 350px;
    padding-right: 50px;
    text-align: center;
}

.services {
    background-image: url("/assets/backgrounds/s_image.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
}

.contact-us {
    background-image: url("/assets/backgrounds/c_image.jpg");
    background-size: cover;
    padding: 50px 0;
}

.mouse-click {
    position: relative;
    top: 340px;
}

.intro {
    position: relative;
    top: 200px;
}

.logo {
    position: relative;
    top: 180px;
}

.size {
    height: 80px;
    width: 80px;
}

.about-us {
    text-align: center;
    padding: 40px 0;
}

.center {
    text-align: center;
}

.padding {
    padding: 30px 0;
}

.another-padding {
    padding-top: 40px;
}

.portfolio-padding {
    padding-bottom: 20px;
}

.top-padding {
    padding-top: 5px;
}

.portfolio img {
    padding: 10px;
}

.grid {
    display: grid;
    justify-content: center;
}

input {
    width: 350px;
}

textarea {
    width: 705px;
}

@media screen and (max-width: 750px) {
    input {
        width: 300px;
    }
    
    textarea {
        width: 605px;
    }
}

@media screen and (max-width: 650px) {
    input {
        width: 200px;
    }
    
    textarea {
        width: 405px;
    }
}